
{{#if hasSeries}}
<div class="row">
  {{#each series}}

  <div class="col-12 col-sm-4 mb-3 ">
    <div class="card imagen-container" style="width: 18rem;">

      <img src="{{this.ImgUrl}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{this.Nombre}}</h5>
        <h6 class="card-subtitle">{{this.Genero}}</h6>
        <p class="card-text">{{this.Descripcion}}</p>

        <a href="/Admin/Series-Details/{{this.Id}}" class="btn btn-primary btn-sm">Details</a>
      </div>
    </div>
  </div>
   
  {{/each}}
  </div>
    {{else}}
    <p>No hay series</p>
{{/if}}